:root {
    --main-color: #8335FF;
    --main-transparent-color: #8335FFb0;
    --secondary-color: #894ee9;
    --header-footer-color: #291563;
    --background-color: #050E23;
    --font-color: #fff;
}

.mainColor {
    color: var(--main-color)
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0 0 0 0;
    background: var(--background-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 50px;
    color: white
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    height: 50px;
    background: var(--header-footer-color);
    padding: 5px 25px;
    z-index: 9999
}

header img {
    height: 38px;
    border-radius: 50%;
    float: right;
    border: 1px solid white;
    transform: rotate(0);
    transition: .5s
}

header>a {
    position: relative;
    font-size: 20px;
    line-height: 2.4rem;
    color: var(--font-color);
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    padding: .7rem .4rem;
}





div.cover {
    width: 100%;
    height: calc(100vh - 50px);
    position: relative;
    display: block;
    background-image: url(https://img.wallpapersafari.com/desktop/1920/1080/65/0/BixyA5.jpg);
    background-size: cover;
    background-position: center
}

div.cover div {
    background-color: var(--main-transparent-color);
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: auto;
    display: block;
    position: sticky
}

div.cover div p,
div.cover div p a {
    margin: 0;
    font-size: 1.3em;
    color: #fff
}

div.cover div p:last-of-type {
    margin: 0;
    font-size: 1.1em;
    padding-bottom: 15px;
    animation-name: scroll;
    animation-duration: 1.8s;
    animation-iteration-count: infinite
}

@keyframes scroll {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    80% {
        transform: translateY(15px);
        opacity: .3
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}





section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;
    text-align: justify;
    min-height: calc(100vh - 80px)
}

section h1 {
    font-size: 1.5em;
    color: var(--main-color);
    text-align: center
}

section h2 {
    font-size: 1.2em;
    color: var(--main-color)
}

section p {
    font-size: 1em;
    margin: 8px 0;
}

.text-indent {
    text-indent: 20px
}

footer a,
section a {
    text-decoration: none;
    color: var(--main-color);
    font-weight: bold
}

footer {
    background-color: var(--header-footer-color);
    color: #fff;
    position: absolute;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: .9em;
    padding: 10px;
    z-index: 9998;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column
}

footer p {
    margin: 5px 20px;
}

footer i {
    margin: 0 5px
}