:root {
    --main-color: #8335FF;
    --main-transparent-color: #8335FFb0;
    --secondary-color: #894ee9;
    --header-footer-color: #291563;
    --background-color: #050E23;
    --font-color: #fff;
    --cover-url: url(https://img.wallpapersafari.com/desktop/1920/1080/65/0/BixyA5.jpg);
}

.mainColor {
    color: var(--main-color)
}

html {
    scroll-behavior: smooth
}

body {
    margin: 0 0 0 0;
    background: var(--background-color);
    font-family: Roboto, Arial, Helvetica, sans-serif;
    margin-top: 3.1rem;
    color: var(--font-color)
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    box-sizing: border-box;
    height: 3rem;
    background: var(--header-footer-color);
    padding: 5px 25px;
    z-index: 9999
}

header img {
    height: 38px;
    border-radius: 50%;
    float: right;
    border: 1px solid var(--font-color);
    transform: rotate(0);
    transition: .5s
}

header img:hover {
    transform: rotate(360deg);
    border: 1px solid var(--main-color);
    border-radius: 30%
}

header>a {
    position: relative;
    font-size: 20px;
    line-height: 2.4rem;
    color: var(--font-color);
    cursor: pointer;
    transition: .5s;
    text-decoration: none;
    padding: .7rem 1rem;
}

header>a:hover {
    color: var(--main-color);
}

header>a i {
    position: relative;
    font-size: 20px;
    line-height: 3rem;
    vertical-align: middle;
    color: var(--font-color);
    cursor: pointer;
    transition: .5s;
    transform: rotate(0)
}

header>a:hover i,
header>label>a i:hover {
    color: var(--main-color);
    transform: rotate(1deg) scale(1.1)
}

/* header>label input {
    display: none
}

header>label {
    cursor: pointer
}

header>label input:checked~a i {
    transform: rotate(90deg);
    color: var(--main-color)
}

header>label input:checked~a:hover i {
    transform: rotate(80deg) scale(1.1)
} */





::-webkit-scrollbar {
    width: 10px
}

header nav::-webkit-scrollbar {
    width: 3px
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color)
}

::-webkit-scrollbar-thumb:hover {
    background: var(--main-color)
}

::-webkit-scrollbar-corner {
    background: var(--secondary-color)
}


div.cover {
    width: 100%;
    height: calc(100vh - 3rem);
    position: relative;
    display: block;
    background-image: var(--cover-url);
    background-size: cover;
    background-position: center
}

div.cover div {
    background-color: var(--main-transparent-color);
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin: auto;
    display: block;
    position: sticky;
    transform: translateY(-50%);
}

div.cover div p,
div.cover div p a {
    margin: 0;
    font-size: 1em;
    color: #fff
}

div.cover div p:last-of-type {
    margin: 0;
    font-size: 1.1em;
    padding-bottom: 15px;
    animation-name: scroll;
    animation-duration: 1.8s;
    animation-iteration-count: infinite
}

@keyframes scroll {
    0% {
        transform: translateY(0);
        opacity: 1
    }

    80% {
        transform: translateY(15px);
        opacity: .5
    }

    100% {
        transform: translateY(0);
        opacity: 1
    }
}




section {
    max-width: 1100px;
    margin: 0 auto;
    padding: 15px;
    box-sizing: border-box;
    text-align: justify;
}

section.colored {
    background-color: var(--secondary-color);
    margin: 0;
    max-width: inherit;
    min-height: inherit;
}

section.colored:not(:first-of-type) {
    margin-top: 8rem;
}


section.colored>h1 {
    color: var(--font-color);
    font-size: 4rem;
    margin: 0;
    border-bottom: none;
    font-variant: small-caps;
}

section h1 {
    font-size: 1.5em;
    color: var(--main-color);
    text-align: center;
    padding-bottom: 8px;
    border-bottom: 1px solid var(--font-color);
}


section p {
    font-size: 1em;
    margin: 8px 0
}

.text-indent {
    text-indent: 20px
}

footer a,
section a {
    text-decoration: none;
    color: var(--main-color)
}

footer a:hover,
section a:hover {
    font-weight: bold
}

footer {
    background-color: var(--header-footer-color);
    color: var(--font-color);
    position: absolute;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    font-size: .9em;
    padding: 10px;
    z-index: 9998;
    display: flex;
    justify-content: center
}

footer p {
    margin: 0 20px;
}

footer i {
    margin: 0 5px
}

footer p:not(:last-child):after {
    content: '-';
    position: relative;
    right: -20px
}


/* ! portfolio */
#portfolio>h1:not(:first-of-type) {
    margin-top: 4rem;
}

#portfolio>article {
    max-width: 80%;
    margin: 0 auto;
}

#portfolio>article>h1 {
    margin-bottom: 0;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 1.3em;
}

#portfolio>article>h1>i {
    margin-left: 8px;
    color: var(--font-color);
    font-size: .9rem;
    transform: rotate(-10deg)
}

#portfolio>article>div {
    border: 1px solid var(--font-color);
    border-top: none;
    padding: 8px;
}


#portfolio>article>div:first-of-type {
    display: none;
}




/* ! contact */
#contact {
    display: flex;
    /* align-items: center; */
    justify-content: center;
}

#contact>form * {
    display: block;
    margin: 4px 0;
    /* align-self: center; */
}

#contact>form>textarea,
#contact>form>input[type=text] {
    width: 600px;
    min-height: 1.2rem;
}

#contact>form>button {
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid var(--header-footer-color);
    background: var(--main-transparent-color);
    color: var(--font-color);
    cursor: pointer;
    transition: .5s;
    font-size: 1em
}

#contact>form>button:hover {
    background: var(--main-color);
}