@media (min-width: 721px) {
    .ficheContainer {
        padding: 0
    }

    .ficheContainer li>.fiche,
    .ficheContainer li>.tuto {
        transition: .5s;
        transform-origin: top;
        transform: scaleY(0);
        left: 15px;
        position: relative;
        top: 0;
        height: 0;
        opacity: 0
    }

    .ficheContainer>li {
        list-style-type: none;
    }

    .ficheContainer>li>a {
        color: var(--main-color);
        font-size: 1.4em;
        background-color: #00000020;
        width: 100%;
        display: block;
        padding: 10px 0;
        cursor: pointer
    }

    .ficheContainer>li>a i {
        transition: .5s
    }

    .ficheContainer li .fiche:before,
    .ficheContainer li .tuto:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 0;
        height: calc(100% - 10px);
        border-left: 1px dashed var(--main-color)
    }

    .ficheContainer li.active>.fiche,
    .ficheContainer li.active>.tuto {
        transform: scaleY(1);
        height: auto;
        width: calc(100% - 15px);
        opacity: 1
    }

    .ficheContainer>li>a:hover i {
        transform: rotate(15deg)
    }

    .ficheContainer li.active>a i {
        transform: rotate(90deg)
    }

    .ficheContainer li.active>a {
        font-weight: bold
    }


    .fiche>li {
        list-style-type: upper-roman;
        font-size: 1.2em;
        color: var(--main-color);
        font-weight: bold;
        margin-left: 15px
    }

    .fiche,
    .fiche ol,
    .tuto,
    .tuto ol {
        padding: 5px 0 5px 25px;
        box-sizing: border-box
    }

    .fiche ol li {
        color: var(--main-color);
        font-weight: bold;
        margin: 10px 0 5px 0
    }

    code,
    pre {
        color: var(--main-color);
        border-radius: 3px;
        background-color: #00000050;
        padding: 3px;
        margin: 4px;
        display: inline-block;
        width: auto;
        text-indent: 0
    }

    .fiche code em {
        margin-left: 20px;
    }

    .fiche code em:before {
        content: '/*'
    }

    .fiche code em:after {
        content: '*/'
    }

    .tuto>li {
        list-style-type: decimal;
        margin-left: 15px;
        font-size: 1em
    }

    .tuto ol li {
        list-style-type: lower-latin;
        margin-left: 15px;
        font-size: 1em
    }

    .tuto img {
        max-width: 95%;
        margin-left: 10px;
        padding: 0;
        margin: 10px
    }

    .tuto p {
        text-indent: 5px
    }
}





@media (max-width: 720px) {
    .ficheContainer {
        padding: 0
    }

    .ficheContainer li>.fiche,
    .ficheContainer li>.tuto {
        transition: .5s;
        transform-origin: top;
        transform: scaleY(0);
        left: 15px;
        position: relative;
        top: 0;
        height: 0;
        opacity: 0
    }

    .ficheContainer>li {
        list-style-type: none
    }

    .ficheContainer>li>a {
        color: var(--main-color);
        font-size: 1.4em;
        background-color: #00000020;
        width: 100%;
        display: block;
        padding: 10px 0;
        cursor: pointer
    }

    .ficheContainer>li>a i {
        transition: .5s
    }

    .ficheContainer li .fiche:before,
    .ficheContainer li .tuto:before {
        content: '';
        position: absolute;
        left: 5px;
        top: 0;
        height: calc(100% - 10px);
        border-left: 1px dashed var(--main-color)
    }

    .ficheContainer li.active>.fiche,
    .ficheContainer li.active>.tuto {
        transform: scaleY(1);
        height: auto;
        width: calc(100% - 15px);
        opacity: 1
    }

    .ficheContainer li.active>a i {
        transform: rotate(90deg);
    }

    .ficheContainer li.active>a {
        font-weight: bold
    }




    .fiche>li {
        list-style-type: upper-roman;
        font-size: 1.2em;
        color: var(--main-color);
        font-weight: bold;
        margin-left: 15px
    }

    .fiche,
    .fiche ol,
    .tuto,
    .tuto ol {
        padding: 3px 15px;
        box-sizing: border-box
    }

    .fiche ol li {
        color: var(--main-color);
        font-weight: bold;
        margin: 10px 0 5px 0;
    }

    code,
    pre {
        color: var(--main-color);
        border-radius: 3px;
        background-color: #00000050;
        padding: 3px;
        margin: 4px;
        display: inline-block;
        width: auto;
        text-indent: 0;
        text-align: start
    }

    .fiche code em {
        margin-left: 20px
    }

    .fiche code em:before {
        content: '/*'
    }

    .fiche code em:after {
        content: '*/'
    }


    .tuto>li {
        list-style-type: decimal;
        font-size: 1.1em;
        margin-left: 15px
    }

    .tuto ol li {
        list-style-type: lower-latin;
        margin-left: 15px
    }

    .tuto img {
        display: none
    }

    .tuto p {
        text-indent: 5px;
        text-align: left
    }

    .tuto li {
        text-align: left
    }
}